{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load custom_filter %}

{% block body %}
  
    {% if messages %}
      <!-- Display success messages -->
      {% for message in messages %}
        <div id="submit-success-message" class="alert alert-success">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <div id='card-tasks' class="card">
      <div class="card-header-warning" style="background-color: black;">
        <center>
        <img src="static/header1.gif">
        <br>
        <font size="4">
          <a href="https://linkedin.com/in/andrewjameshisshion"><img src="static/LI.png">|</a> 
          <a href="https://github.com/AJHissh"><img src="static/GH.png">|</a> 
          <a href="{% url 'download_resume' %}" download> <img src="static/DR.png"> </a>
        </font>
        </center>
      </div>
    </div>
    <div id='card-tasks' class="card">
      <div id='profile-text' class="card-header card-header-warning">
      <p><font size="4"><i>
As an avid computer user, I pride myself on staying up-to-date with current events and technological
advances, particularly in areas relevant to data analysis. I regularly engage with topics such as data
management techniques, statistical models, and emerging technologies that can enhance analytical
processes.
In all aspects of my professional and personal life, I incorporate a strategic approach. Whether it's
optimizing workflows, refining data collection methods, or planning project timelines, I prioritize
efficiency and foresight to achieve optimal outcomes. My analytical mindset allows me to dissect
complex problems and identify innovative solutions while considering future implications.
      </i></font></p>
    <center>
        <img src="static/tech.png" width="1500" height="700">
    </center>
    <div id="project-display" class="div">
      <div class="div-2">
        <center>
        <div class='project-title'> Other Projects</div>
      </center>
        <br />
      </div>
      <div class="div-3">
        <div class="div-4">
          <div class="column">
            <div class="div-5">
              <a href="http://ec2-54-206-76-243.ap-southeast-2.compute.amazonaws.com/">
              <img
                loading="lazy"
                srcset="/static/forum.png"
                class="img"
              /> </a>
              <div class="div-6">
                Forum Application
                <br />
              </div>
              <div class="div-7">
                The project employs ReactJS with NodeJS and Express to interface with a MongoDB database. Hosting takes place on an AWS EC2 Server, facilitated by NGINX and GUNICORN for performance and scalability.
                <br />
              </div>
            </div>
          </div>
          <div class="column-2">
            <div class="div-8">
              <a href="http://drewhish.pythonanywhere.com/">
              <img
                loading="lazy"
                srcset="/static/stock.png"
                class="img"
              />
            </a>
              <div class="div-9">
                Stock Trading Simulation
                <br />
              </div>
              <div class="div-10">
                This project is a dynamic stock trading simulation web application using Flask, leveraging SQLite as its data storage solution. It integrates the IEX API to fetch real-time stock prices, allowing the user to experience authentic market dynamics.
                <br />
              </div>
            </div>
          </div>
          <div class="column-3">
            <div class="div-11">
              <a href="http://andrewhisshion.pythonanywhere.com/">
              <img
                loading="lazy"
                srcset="/static/wiki.png"
                class="img-2"
              />
            </a>
              <div class="div-12">
                <div class="div-13">
                  Wikipedia Application
                  <br />
                </div>
                <div class="div-14">
                  This application is akin to Wikipedia, developed using the Django framework. Data is stored utilizing SQLite. The aim is to emulate the functionality and structure of Wikipedia, allowing users to browse, create, edit, and collaborate on articles within the platform.
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}